<div class="col-md-8">
  <div class="login-banner">
    <%= image_tag "placeholders/login/f11.jpg" %>
  </div>
</div>
<div class="clearfix"></div>
<div class="login-footer">
  <div class="col-md-12">
    <h3 class="framgia"><%= t "static_pages.index.inc"%></h3>
  </div>
  <div class="col-md-3">
    <ul>
      <li class="fheader"><%= t "static_pages.index.hanoi" %></li>
      <li><i class="fa fa-map-marker fa-2" aria-hidden="true"></i>
        <%= t "static_pages.index.content1" %>
      </li>
      <li><i class="fa fa-phone fa-2" aria-hidden="true"></i> <%= t "static_pages.index.number1" %></li>
    </ul>
  </div>
  <div class="col-md-3">
    <ul>
      <li class="fheader"><%= t "static_pages.index.laboratory" %></li>
      <li>
        <i class="fa fa-map-marker fa-2" aria-hidden="true"></i>
        <%= t "static_pages.index.content2" %>
      </li>
      <li><i class="fa fa-phone fa-2" aria-hidden="true"></i> <%= t "static_pages.index.number2" %></li>
    </ul>
  </div>
  <div class="col-md-3">
    <ul>
      <li class="fheader"><%= t "static_pages.index.hcm" %></li>
      <li>
        <i class="fa fa-map-marker fa-2" aria-hidden="true"></i>
        <%= t "static_pages.index.content3" %>
      </li>
      <li><i class="fa fa-phone fa-2" aria-hidden="true"></i> <%= t "static_pages.index.number3" %></li>
    </ul>
  </div>
  <div class="col-md-3">
    <ul>
      <li class="fheader"><%= t "static_pages.index.danang" %></li>
      <li>
        <i class="fa fa-map-marker fa-2" aria-hidden="true"></i>
        <%= t "static_pages.index.content4" %>
      </li>
      <li><i class="fa fa-phone fa-2" aria-hidden="true"></i> <%= t "static_pages.index.number4" %></li>
    </ul>
  </div>
</div>
