<%= form_for(@course, html: {class: "form-horizontal form-bordered form-control-borderless"}) do |f| %>
  <div class="form-group">
    <%= f.label :name, t("subject.form.name"), class: "col-md-3 control-label" %>
    <div class="col-md-6">
      <%= f.text_field :name, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :description, t("subject.form.description"), class: "col-md-3 control-label" %>
    <div class="col-md-6">
      <%= f.text_area :description, class: "form-control", rows: "9" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :start_time, t("courses.new.start_time"), class: "col-md-3 control-label" %>
    <div class="col-md-3" data-date-format="dd-mm-yyyy">
      <%= f.text_field :start_time, class: "form-control" %>
    </div>
    <%= f.label :end_time, t("courses.new.end_time"), class: "col-md-1 control-label" %>
    <div class="col-md-3">
      <%= f.text_field :end_time, class: "form-control" %>
    </div>
  </div>
  <div class="row">
    <div class="widget-extra text-center">
      <h3 class="widget-content-light"><strong><%= t "subject.subject"%>Subjects</strong></h3>
    </div>
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <!-- Widget -->
      <div class="widget">
        <div id="scroll" class="widget-simple" >
          <div class="table-responsive">
            <table class="table table-borderless table-pricing">
              <tbody>
                <%= f.fields_for :courses_subjects do |p| %>
                <tr>
                  <td>
                    <%= p.check_box :_destroy, {:checked => p.object.persisted?}, '0', '1' %>
                  </td>
                  <td>
                    <%= p.hidden_field :subject_id %>
                    <%= p.object.subject.name %>
                  </td>
                  <td class="col-md-3">
                  <%= p.text_field :date, class: "form-control" %></td>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!-- END Widget -->
    </div>
  </div>
  <div class="form-group form-actions">
    <div class="col-md-12 text-center">
      <%= f.submit yield(:button_text), class: "btn btn-sm btn-primary" %>
    </div>
  </div>
<% end %>
